os:
    - linux
language: generic
sudo: required
dist: trusty

before_install:
  - sudo apt-get -qq update
  - sudo apt-get install -y clang libblocksruntime0 libcurl4-openssl-dev
  - sudo curl https://swift.org/builds/swift-4.0.3-release/ubuntu1610/swift-4.0.3-RELEASE/swift-4.0.3-RELEASE-ubuntu16.10.tar.gz | tar xz --directory / --strip-components=1

install:
  - sudo chmod -R a+rwx /usr/
  - node -v
  - npm install -g danger

  - git clone https://github.com/realm/SwiftLint.git
  - cd SwiftLint
  - rm .swift-version
  - swift build -c release --static-swift-stdlib
  - mv .build/x86_64-unknown-linux/release/swiftlint /usr/local/bin/
  - cd ..

  - git clone https://github.com/petrpavlik/danger-swift.git
  - cd danger-swift
  - rm .swift-version
  - make install
  - cd ..
  
  - swift build 

script:
    - swift test
    - export LINUX_SOURCEKIT_LIB_PATH=$HOME/usr/lib
    - swiftlint lint --quiet --path "danger/Dangerfile.swift" --reporter json # test swiftlint
    - danger process danger-swift           # Run Danger
